/*Theme Fixes*/
 
.container-2lgZY8,
.container-PNkimc, 
.container-2Thooq, 
.theme-dark .members-1998pB, 
.theme-dark .layer-3QrUeG, .theme-dark .layers-3iHuyZ,
.typing-2GQL18 {
    background-color: transparent !important;
}

.contentSelectedText-3wUhMi, .unread-1Dp-OI {
    background-color: var(--main-color);
}

.theme-dark .quickMessage-1yeL4E {
	background-color: transparent;
}

.contextMenu-HLZMG {
	background: rgba(0,0,0,0.7)!important;
}

.theme-dark .member-3W1lQa:hover .content-OzHfo4 {
	background: rgba(0,0,0,0.3)!important;
}

.emojiPicker-3m1S-j .stickyHeader-1SS0JU {
	background: transparent;
}

.emojiPicker-3m1S-j {
	background: rgba(0,0,0,.3);
}
 
.theme-dark .embedInner-t4ag7g {
    background-color: rgba(34,34,34,.2);
    border-color: rgb(70,70,70);
    border-left: none;
}
 
 
.embedPill-3sYS1X {
    background-color: var(--main-color) !important;
}
 
.emojiItem-3l4Fa9.selected-1LQfcZ {
    background-color: var(--hover-color) !important;
}
 
.emoji {
    margin: 0 !important
}
 
.membersGroup-3_dP5E {
    color: var(--main-color) !important;
    background: rgba(0,0,0,.5);
    text-align: center;
    padding: 0px;
    margin-top: 40px;
    margin-bottom: 10px;
    height: inherit;
    font-weight: bold;
}
 
.message-group-blocked {
    display: none;
}


/*Magane Theme*/
 
.vb>.vb-dragger>.vb-dragger-styler,
.vb.vb-scrolling-phantom>.vb-dragger>.vb-dragger-styler,
.vb.vb-dragging-phantom>.vb-dragger>.vb-dragger-styler {
    background-color: var(--main-color) !important;
}
 
div#magane div.stickerWindow[data-v-f057252c] {
    background-color: rgba(0,0,0,0.55) !important;
    border-radius: 8px;
}
 
div#magane div.stickerWindow>div.packs[data-v-f057252c] {
    background-color: rgba(0,0,0,0.5) !important;
}
 
div#magane div.stickersModal .modal-content[data-v-f057252c] {
    background-color: rgba(0,0,0,0.7) !important;
    border-radius: 8px;
}
