/*User roles*/

.role-2irmRk {
    border-radius: 6px !important;
}

/* New Message*/

.theme-dark .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI {
	color: var(--main-color);
}

.theme-dark .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI:after,
.theme-dark .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI:before {
	border-color: var(--main-color);
}

/* Server Emoji */

.theme-dark .card-FDVird {
    background-color: transparent !important;
}

.theme-dark .input-cIJ7To {
    margin-top: 1px;
    margin-left: -1px;
}

/* Manage Message */

.theme-dark .container-3cGP6G {
    background: rgba(0,0,0,.65);
}

.theme-dark .item-2J1YMK:active, .theme-dark .item-2J1YMK:hover {
    background-color: var(--hover-color);
}

/*Channel group styles*/

.containerDefault-3GGEv_ {
    margin-bottom: 5px;
}

.nameCollapsed-34uFWo, .nameDefault-2DI02H, .nameHovered-1gxhWH, .nameHoveredCollapsed-2orEWB, .nameMuted-1MCOt4, .nameUnread-njOjIS {
	display: flex;
	text-align: center;
	font-weight: bold;
}

.nameCollapsed-34uFWo:before, .nameDefault-2DI02H:before, .nameHovered-1gxhWH:before, .nameHoveredCollapsed-2orEWB:before, .nameMuted-1MCOt4:before, .nameUnread-njOjIS:before,
.nameCollapsed-34uFWo:after, .nameDefault-2DI02H:after, .nameHovered-1gxhWH:after, .nameHoveredCollapsed-2orEWB:after, .nameMuted-1MCOt4:after, .nameUnread-njOjIS:after {
    flex: 1;
    height: 1px;
    background: #72767d;
    content: "";
    position: relative;
    top: 10px;
}

.nameCollapsed-34uFWo:before, .nameDefault-2DI02H:before, .nameHovered-1gxhWH:before, .nameHoveredCollapsed-2orEWB:before, .nameMuted-1MCOt4:before, .nameUnread-njOjIS:before {
	margin-right: 10px;
}

.nameCollapsed-34uFWo:after, .nameDefault-2DI02H:after, .nameHovered-1gxhWH:after, .nameHoveredCollapsed-2orEWB:after, .nameMuted-1MCOt4:after, .nameUnread-njOjIS:after {	
    margin-left: 10px;
}

.nameHovered-1gxhWH:before, .nameHoveredCollapsed-2orEWB:before,
.nameHovered-1gxhWH:after, .nameHoveredCollapsed-2orEWB:after {
	background-color: #b9bbbe !important;
}

/* Games Library */

.theme-dark .header-39GIC8 {
    background-color: rgba(0,0,0,.3);
}

.theme-dark .gameUpdates-2GPqBU {
	background-color: rgba(0,0,0,.3);
}

.progressBar-3zryPV.small-4dgL9e:nth-child(2) {
	background-color: var(--main-color);
}

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:active, .theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover {
	background-color: var(--hover-color);
}

.theme-dark .lookFilled-1Gx00P.hoverGreen-1gjdJc.hasHover-3X1-zV:hover {
	background-color: var(--hover-color);
}

/* Install Game */

.theme-dark .checked-3_4uQ9 {
    background-color: transparent !important;
    border-color: var(--main-color) !important;
}

button.button-38aScr.lookFilled-1Gx00P.colorGreen-29iAKY.sizeMedium-1AC_Sl.grow-q77ONN {
    background-color: var(--main-color) !important;
}

button.button-38aScr.lookFilled-1Gx00P.colorGreen-29iAKY.sizeMedium-1AC_Sl.grow-q77ONN:hover {
    background-color: var(--hover-color) !important;
}

.theme-dark .installSize-1eXbBX {
    background-color: var(--main-color);
}

/* User Popout */

[class*="userPopout-"] [class*="headerNormal-"] {
    background: rgba(0,0,0,.3) !important;
}

.headerXbox-3G-4PF {
    background: rgba(16,124,16,.7);
}

.headerStreaming-2FjmGz {
    background: rgba(89, 54, 149, .7) !important;
}

[class*="headerPlaying-"] {
    background: rgba(0,0,0,.3) !important;
}

.activity-11LB_k {
    background-color: rgba(0, 0, 0, 0.50) !important;
}
/*------*/

.accountDetails-3k9g4n:after {
    display: none;
}

.root-3-B5F3:before {
    display: none; 
}

a:link , .theme-dark .embedTitleLink-1Zla9e {
	color: var(--main-color) !important;
}

.winButton-iRh8-Z {
	width: 38px;
}

.theme-dark .member-3W1lQa:hover .content-OzHfo4 {
	background: rgba(0,0,0,0.3)!important;
}
 
.theme-dark .embedInner-1-fpTo {
    background-color: rgba(34,34,34,.2);
    border-color: rgb(70,70,70);
    border-left: none;
} 
 
.embedPill-1Zntps {
    background-color: var(--main-color) !important;
}

.membersGroup-v9BXpm {
    color: var(--main-color) !important;
    background: rgba(0,0,0,.5);
    text-align: center;
    padding: 0px;
    margin-top: 40px;
    margin-bottom: 10px;
    height: inherit;
    font-weight: bold;
    border-radius: 3px;
}

.membersGroup-v9BXpm:nth-child(2) {
	margin-top: 0px;
}
 
.messageGroupBlocked-3wrQQX , .messageGroupBlockedBtn-1PBBh-{
	display:none
}

.emoji {
	height: 2rem;
	width: 2rem;
}

.guildSeparator-1X4GQ1 {
    visibility: hidden;
}

/*Magane Theme*/
 
.vb>.vb-dragger>.vb-dragger-styler,
.vb.vb-scrolling-phantom>.vb-dragger>.vb-dragger-styler,
.vb.vb-dragging-phantom>.vb-dragger>.vb-dragger-styler {
    background-color: var(--main-color) !important;
}
 
div#magane div.stickerWindow[data-v-f057252c] {
    background-color: rgba(0,0,0,0.55) !important;
    border-radius: 8px;
}
 
div#magane div.stickerWindow>div.packs[data-v-f057252c] {
    background-color: rgba(0,0,0,0.5) !important;
}
 
div#magane div.stickersModal .modal-content[data-v-f057252c] {
    background-color: rgba(0,0,0,0.7) !important;
    border-radius: 8px;
}

div#magane a.button[data-v-f057252c] {
	background-color: #7289da !important;
}

div#magane a.button.is-primary[data-v-f057252c]:hover, div#magane a.button[data-v-f057252c]:hover {
	background-color: #677bc4 !important;
}

div#magane a.button.is-danger[data-v-f057252c] {
	background-color: #f04747!important;
}

div#magane a.button.is-danger[data-v-f057252c]:hover {
}

div.channel-textarea-stickers[data-v-f057252c] {
	background-image:  url("https://discordapp.com/assets/a42df564f00ed8bbca652dc9345d3834.svg") !important;
	background-size: initial !important;
	background-position: initial !important;
}
